UseColor: true

Checks: >
    bugprone-*,
    misc-include-cleaner,
    readability-*,
    -readability-magic-numbers,
    -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,

WarningsAsErrors: "*"